/* text-colors gray1*/
p {
  color: #999999;
}

/* text-colors gray2*/
p {
  color: #666666;
}

/* text-colors gray2*/

p {
  color: #0000;
  background: #2fb3ff;
}
div {
  background-color: #0084f4;
  background: #fbddc3;
}

div {
  background-color: #0082f479;
  background: #ffcbd3;
}

div {
  border-color: #e8e6ea;
  background-color: #ddd6ed;
}
